.wather {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.wather header {
  text-align: center;
}


.list {
  display: flex;
  font-size: 22px;

  justify-content: space-evenly;
  list-style: none;
}

.list li {
  margin: 15px 0;
}
